<div class="container" style="background: #f2f2f2;">
    <div class="col-sm-3">
        <br>
        <br>
        <a href="../edit-account.html" ><button type="submit" style="font-size: 1.2em; font-style: initial; padding: 7px;width: 90%" class="btn-primary"><i class="fa fa-address-book"></i><b style="font: caption"> Chỉnh sửa thông tin cá nhân</b></button> </a>
        <br>
        <br>
        <a href="../history.html" ><button  type="submit" style="font-size: 1.2em; font-style: initial; padding: 7px;width: 90%" class="btn-primary" ><i class="fa fa-search"> </i> <b style="font: caption"> Lịch sử mua hàng </b></button></a>
    </div>
    <div class="col-sm-9">
        <h1>Thông tin tài khoản của bạn</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="//user/placehold.it/100" class="avatar img-circle" alt="avatar">
                    <h6>Tải hình ảnh lên....</h6>

                    <input type="file" class="form-control">
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Họ và tên đệm:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="newlastname" size="30" readonly type="text" value=<%= account.lastname %> >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tên:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="newname" size="30" readonly type="text" value=<%= account.name %>>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="newemail" size="30" readonly type="text" value=<%= account.email %>>
                        </div>
                    </div>                 
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tên đăng nhập:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="newusername" size="30" readonly type="text" value=<%= account.username %>>
                        </div>
                    </div>
                 
                </form>
            </div>
        </div>
</div>
<hr>
</div>