<div class="container" style="background: #f2f2f2;">
    <div class="col-sm-12">
        <h1>Thông tin khách hàng</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                    <h6>Tải ảnh lên...</h6>

                    <input type="file" class="form-control">
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <h3>Thông tin chi tiết khách hàng</h3>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Họ và tên đệm:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="Nguyễn Văn">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tên:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="An">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Công ty:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="janesemail@gmail.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">SĐT:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="0125458856">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tên đăng nhập:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" value="janeuser">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mật khẩu:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" value="11111122333">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Địa chỉ:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" value="125 CMT8 Tp.HCM">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="button" class="btn btn-primary" value="Lưu thay đổi">
                            <span></span>
                            <input type="reset" class="btn btn-primary" value="Hủy">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
</div>